.game__item {
  box-sizing: border-box;
  height: 100%;
  transition: transform 0.2s;
  width: 100%;
  z-index: 1;
}

.game__item:hover {
  transform: scale(1.04);
}

.game__item > .wrapper {
  border-radius: var(--gametile-border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.game__item img {
  background: #434343 !important;
  border-radius: var(--gametile-border-radius);
  /* height: 100%; */
  width: 100%;
}

.game__item:hover img {
  filter: blur(4px);
  z-index: -1;
}

.game__title {
  font-family: Inter, Poppins, Arial, Helvetica, 'sans-serif';
  font-weight: 900;
  line-height: 22px;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75) !important;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #fff;
  font-size: 16px;
}

.game__item:hover .game__title {
  display: -webkit-box !important;
  line-height: 22px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  top: 15%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.demo_play {
  display: none;
  font-family: Inter;
  font-weight: 900;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75) !important;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 80%;
}

.game__item:hover .demo_play {
  display: inline-block;
}

.v-carousel {
  padding: 8px 4px;
}

.category_header {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  gap: 8px;
  color: #fff;
}

.view-more {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  margin: 0px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.v-window__left,
.v-window__right {
  z-index: 99;
  box-shadow: 0 2px 9px #000000d9;
  height: 38px !important;
  opacity: 0.7;
  transition: 0s !important;
  width: 38px !important;
  z-index: 1;
}

.v-window__left:hover,
.v-window__right:hover {
  opacity: 1;
}

.carousel__item {
  padding: 8px 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.game__item:hover .real-play {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.real-play > button {
  background-color: var(--arrowbut-bg-color);
  color: var(--arrowbut-text-color);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 7px #0000007d !important;
  height: 100%;
  transition: 0s !important;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;
}

.real-play > button > svg {
  user-select: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 2.1875rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.game__item .demo-play {
  display: inline-block;
  font-weight: 900;
  font-size: 16px;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75) !important;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 1;
  box-sizing: content-box;
  color: #fff;
}

.game__item:hover .demo-play {
  cursor: pointer;
  top: 85%;
}

.game_ul_list {
  display: grid;
  grid-template-columns: repeat(var(--itemsPerRow), auto);
  list-style: none;
  padding: 0;
  width: 100%;
}

.game_ul_list li,
.game_ul_carousel_list li {
  height: 0;
  overflow: visible;
  padding-top: var(--aspectRatio);
  position: relative;
}

.game_ul_carousel_list {
  display: grid;
  gap: 0;
  grid-auto-columns: calc(100% / var(--itemsPerRow));
  grid-auto-flow: column;
  list-style: none;
  margin: 0 calc(var(--mainLayoutGutter) * -1) 0 calc(var(--mainLayoutGutter) * -1);
  overflow-x: scroll;
  padding: 0 var(--mainLayoutGutter) 8px;
  scroll-snap-type: x proximity;
  scrollbar-width: none;

  margin-left: calc(var(--mainLayoutGutter) * -1);
  margin-right: calc(var(--mainLayoutGutter) * -1);
  padding: 0 var(--mainLayoutGutter) 8px;
}

.game_ul_carousel_list li.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.game-carousel__container {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 0 var(--mainLayoutGutter) 8px;
  margin: 0 calc(var(--mainLayoutGutter) * -1);
}

.game-carousel__container::-webkit-scrollbar {
  display: none;
}

.carousel_btn {
  box-shadow: 0 2px 9px #000000d9;
  height: 38px;
  opacity: 0.7;
  transition: 0s !important;
  width: 38px;
  z-index: 1;
  background: #fff !important;
  color: #000;
  padding: 8px;
  border-radius: 50%;
  display: none;
  position: absolute;
}

.carousel_btn:hover {
  opacity: 1;
}

.game-carousel__container:hover .carousel_btn {
  top: calc(50% - 24px);
  display: flex;
}

.game-carousel__container:hover .carousel_btn svg {
  transform: rotate(-180deg);
}
.game-carousel__container:hover .carousel_btn.next {
  right: calc(var(--mainLayoutGutter) * 0.5);
}

.game-carousel__container:hover .carousel_btn.next svg {
  transform: rotate(0deg);
}
